<!DOCTYPE html>
<html lang="en" data-ng-app="my-app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GenomeRNAi Phenotype Search REst Demo</title>
    <!-- AngularJS -->
    <script src="js/angular.min.js"></script>
    <!-- include my angular app with controller -->
    <script src="js/my-app.js"></script>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

  </head>
  <body data-ng-controller="MyController">
    <h1>Hello, world!</h1>
    <h1>My name is {{name}}!</h1>
    Say hello to my new friend: <input type="text" data-ng-model="inputName">
    <h1>Hello, {{inputName}}</h1>
    <div class="container">
         <div class="row">
             <div class="span3">Ha</div>
	     <div class="span7">llo We</div>
	     <div class="span2">lt</div>
         </div>
     </div>
<!-- now show the phenotype search results -->
   <ul>
	<li ng-repeat="data in allData">
         title: {{data.screenTitle}}</br>
         pubmed id:{{data.pubmedId}}</br>
	 <ul>
	     <li ng-repeat="pheno in data.expWithPhenoOverview">
         	name: {{pheno.phenotypeName}}</br>
         	count: {{pheno.amount}}</br>
	     </li>
	 </ul>
	</li>
   </ul>
<hr>

   

  </body>
</html>
