extends layout

block content
    h1= title
      form#formAddUser(name="adduser",method="post" action="/adduser") 
          input#inputUserName(type="text", name="userName") 
          input#inputUserEmail(type="text", name="userMail")
          button#btnSubmit(type="submit") submit
